@(message: String)

@main("Welcome to Play") {

<style type="text/css">

    form{
        margin: 5px;
    }

    input{
        margin: 3px;
    }

    input[type=number] {
        width: 60px;
        margin: 3px;
    }

    form > button{
        width: 50px;
        margin: 4px;
    }

</style>

<h3>  @message </h3>

addProductForm
<form action="@routes.Application.addProduct()" method="post" enctype="multipart/form-data">

    Name: <input type="text" name="name1" id="name1"/> <br/>
    Price: <input type="number" name="price1" id="price1"><br/>
    Weight: <input type="number" name="weight1" id="weight1"/> <br/>
    Description: <input type="text" name="description1" id="description1"/><br/>
    Image: <input type="file" name="photo1" id="photo1"/><br/>
    <button>Add</button>

</form>


<button onclick="getProductsFromDB()">getFromDB</button>


        <div id="contentFromDB">

        </div>



<script type="text/javascript">
    function getProductsFromDB(){
        $.get( "@routes.Application.getProducts()", function( data ) {

          var out = $('#contentFromDB');
          $(out).append("<ul>");
          for(var i = 0; i < data.length; i++){
            $(out).append("<li>"+data[i].name+"</li>");
          }
          $(out).append("</ul>");

        });
    }

</script>

}