@(message: String)

@main("Welcome to Play") {

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<h3>  @message </h3>

<form action="@routes.Application.addRoll()" method="post">
    Name: <input type="text" name="name" style="margin: 3px;"/> <br/>
    Weight: <input type="number" name="weight" style="width: 40px;margin: 3px;"/> <br/>
    Description: <input type="text" name="description"/><br/>
    <button style="margin: 3px;">Add</button>

</form>



<button onclick="foo()">getFromDB</button>


        <div id="contentFromDB">

        </div>



<script type="text/javascript">
    function foo(){


        $.get( "@routes.Application.getRolls()", function( data ) {

          var out = $('#contentFromDB');
          $(out).append("<ul>");
          for(var i = 0; i < data.length; i++){
            $(out).append("<li>"+data[i].name+"</li>");
          }
          $(out).append("</ul>");

        });
    }
</script>

}