@(message: String)

@main("Welcome to Play") {


<h3>  @message </h3>

<form action="@routes.Application.addRoll()" method="post" enctype="multipart/form-data">

    Name: <input type="text" name="name" style="margin: 3px;"/> <br/>
    Weight: <input type="number" name="weight" style="width: 40px;margin: 3px;"/> <br/>
    Description: <input type="text" name="description"/><br/>
    Image: <input type="file" name="photo" id="photo"/><br/>
    <button style="margin: 3px;">Add</button>

</form>


<br/>



<button onclick="getRollsFromDB()">getFromDB</button>


        <div id="contentFromDB">

        </div>



<script type="text/javascript">
    function getRollsFromDB(){
        $.get( "@routes.Application.getRolls()", function( data ) {

          var out = $('#contentFromDB');
          $(out).append("<ul>");
          for(var i = 0; i < data.length; i++){
            $(out).append("<li>"+data[i].name+"</li>");
          }
          $(out).append("</ul>");

        });
    }

</script>

}