@(message: String, content: List[Map[String,Object]])

@main("Welcome to Play") {

    <h2>@message</h2>

    @for(item <- content){
        <div>
            <section>
                <figure>
                    <img src=@{val a = item.get("Id"); routes.Application.renderImage(""+a)} alt=""/>
                    <figcaption>
                        <h3>@item.get("name")</h3>
                        <p>@item.get("description")</p>
                        <button>
                            <h5>
                                Купить
                                <span class="price">
                                    200rub
                                </span>
                            </h5>
                        </button>
                    </figcaption>
                </figure>
            </section>
        </div>
    }

}