@(title: String)(content: Html)
@content

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
	<!--<meta charset="UTF-8">-->
	<!--<title>@title</title>-->
	<!--<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">-->
    <!--<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">-->
    <!--<script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>-->
<!--</head>-->
<!--<body>-->

	<!--<div>-->
		<!--<section>-->
			<!--<figure>-->
				<!--<img src="img/u42.png" alt="">-->
				<!--<figcaption>-->
					<!--<h3>Название @content</h3>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
					<!--<button>-->
						<!--<h5>-->
							<!--Купить-->
							<!--<span class="price">-->
								<!--200rub-->
							<!--</span>-->
						<!--</h5>-->
					<!--</button>-->
				<!--</figcaption>-->
			<!--</figure>-->
		<!--</section>-->
	<!--</div>-->
<!--</body>-->
<!--</html>-->